.nav-wrapper {
	background: #009393;

}

.brand-logo {
	font-family: 'Lobster', cursive;
	margin-left: 20px;
	text-shadow: 5px 5px 1px #000;
	color: #465776;
}

.brand-logo a {
		color: #465776;

}
.col {
	margin-top: 30px;

}

ul li a {
	text-transform: uppercase;
	color: #F0EDBB;
	font-family: 'Exo 2', sans-serif;
}

hr {
	color: #F0EDBB;
	width: 284px;
	margin-right: 33px;

}

/*Tours*/

#abt {
 text-align: center;
}



#tours {
	margin-top: 100px;
}


#col-num2 {
	float: left;
	
}

#leapord1 {
	position: relative;
	width: 300px;
	height: 200px;
}

#trees {
	position: relative;
	width: 300px;
	height: 200px;
}

#beach2 {
	position: relative;
	width: 300px;
	height: 200px;
}

.parallax-container {
	height: 250px;
}


h1, 
h3, 
h4,
h5, 
p {
	font-family: 'Exo 2', sans-serif;
}

#sites {
	margin-top: 0px;
}

/* About */

#us {
	text-align: center;
}