.nav-wrapper {
	background: #69717E;
}

.col {
	margin-top: 100px;

}

ul li a {
	text-transform: uppercase;
}

/*About*/

h3 {
 text-align: center;
}



#about {
	margin-top: 200px;
}


#col-num2 {
	float: left;
	
}

#leapord1 {
	position: relative;
	width: 300px;
	height: 200px;
}

.parallax-container {
	height: 250px;
}